<h1>Admin Page {{ user }}</h1>
<a href="admin/newTournament">New Tournament</a>
{{#each user_tournaments}}
<h3 class="tournamentName">{{this.name}}</h3>
{{#if this.isPrivate}}
  <p>Private</p>
{{else}}
  <p>Public</p>
{{/if}}

{{/each}}
