<h1>Admin Page {{ user }}</h1>
<a href="admin/newTournament">New Tournament</a>
{{#each user_tournaments}}
<a href="admin/tournament/{{this.tournament_id}}"><h3 class="tournamentName">{{this.tournament_name}}</h3></a>
{{#if this.isPrivate}}
  <p>Private</p>
{{else}}
  <p>Public</p>
{{/if}}

{{/each}}
