<form class="form-horizontal" id="newTournamentForm" action="/admin/newTournament" method="POST">
  <fieldset>
    <legend>New Event</legend>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Name">
      </div>
    </div>
  </fieldset>
</form>
